doctype
html
	head
		include meta
		meta(charset='UTF-8')
		title Ambient Light Sensor
		style(type='text/css').
			h1,div{text-align:center;}
			.brightLight{background:white; color:black;}
			.darkLight{background:black; color:red;}
	body.brightLight
		h1 Ambient Light Sensor
		#details
		script(src='ambientLightSensor.js')
