meta(name='mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='application-name', content='DeviceFeatures')
meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
meta(name='msapplication-starturl', content='https://themanman999.github.io/Ambient-Light-Sensor/')
meta(name='Description', content='Leo"s 4th PWA Project')
meta(name='apple-mobile-web-app-title', content='Ambient-Light-Sensor')
meta(name='theme-color', content='orange')
meta(name='msapplication-navbutton-color', content='orange')
meta(name='msapplication-TileColor' content='orange')
meta(name='viewport', content='width=device-width', initial-scale='1', shrink-to-fit='no')
meta(charset='UTF-8')